<!-- MapServer Template -->
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<title>MapServer - Exercício 12</title>
	</head>
	<body>
		<h4> Definindo uma interface de usuário para consulta e com legenda: </h4>
		<form method="GET" action="[program]" name="frm">
			<table border="1">
				<tr>
					<th> Mapas: </th>
					<th> Controles: </th>
					<th> Camadas: </th>
				</tr>
				<tr>
					<td>
						<input name="img" type="image" src="[img]" width="[mapwidth]" height="[mapheight]" border="1" alt="this is the map">
						<input type="hidden" name="program" value="[program]">
						<input type="hidden" name="map" value="[map]">
						<input type="hidden" name="root" value="[root]">
						<input type="hidden" name="imgext" value="[mapext]">
						<input type="hidden" name="imgxy" value="[center]">
						<input type="hidden" name="zoomsize" value="2">
					</td>
					<td valign="top">
						<input type="radio" name="zoomdir" value="1" [zoomdir_1_check]> Aproximar <br>
						<input type="radio" name="zoomdir" value="0" [zoomdir_0_check]> Mover <br>
						<input type="radio" name="zoomdir" value="-1" [zoomdir_-1_check]> Afastar <br>
						<input type="submit" value="Atualizar"> <br>
					</td>
					<td valign="top"> Camadas: <br>
						<input type="checkbox" name="layer" value="ctybdpy2" [ctybdpy2_check]> Área de Cobertura <br>
                        <input type="checkbox" name="layer" value="ctyrdln3" [ctyrdln3_check]> Rodovias <br>
						<input type="checkbox" name="layer" value="mcd90py2" [mcd90py2_check]> Municípios <br>
						<input type="checkbox" name="layer" value="mcd90py2_rotulos" [mcd90py2_rotulos_check]> Rótulos Municípios <br>
						<input type="checkbox" name="layer" value="drgncimq1942" [drgncimq1942_check]> Imagem de Satélite <br>
                        <div>
                            <select name="mode">
                                <option value="browse" [browse_select]>browse</option>
                                <option value="query" [query_select]>Consulta Camada - Query</option>
                            </select>
                        </div>
                        <br> <b>Atenção</b> quando selecionar a opção "Consulta Camada - Query",
                        <br> clique sobre os objetos visíveis no mapa para realizar a consulta.
					</td>
				</tr>
			</table>
		</form>
        <a href="http://localhost/bsi21/template/web12_iniciar.html">Clique para voltar!</a>
	</body>
</html>